$main-color : #5E96FC;
$blue-font : 600 20px Inter;
$default-font : 400 16px Inter;
$border: 1px solid #EAEBED;
$font-pagination: 400 16px Roboto;

@mixin flex-column {
    display: flex;
    flex-direction: column
}
.item {
    width: 773px;
    margin: auto;
    margin-top: 40px;
    @include flex-column;
    gap: 12px;
    background: #fff;
    border-radius: 12px;
    padding: 24px 0px 24px 24px;
    border: $border;
    h2 {
        font: 700 28px Inter;
    }
    .conditions {
        display: flex;
        gap: 12px;
        align-items: center;
        .day {
            &::before {
                color: #7B7C88;
                content: '•';
                margin-right: 12px;
            }
        }
        p {
            font: 400 20px Inter;
            &:first-child {
                font: 700 20px Inter;
                color: #232134;
                font-weight: 600;
            }
        }
    }
    .place {
        display: flex;
        gap: 12px;
        font: $default-font;
        &::before {
            width: 13px;
            height: 16px;
            content: url('../MainPage/Icon.svg');
        }
    }
}
.description{
    background: #fff;
    width: 773px;
    margin: auto;
    padding: 24px 0px 24px 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    & h3{
        margin-bottom: 16px;
        font: 700 20px Inter;
    }
    & .list p{
        font: 400 16px Inter;
        line-height: 140%;
    }
}